* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
}
.topnav {
    background-color: #333;
    display: flex;
    justify-content: flex-end;
}
header a {
    color: whitesmoke;
    padding: 15px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: #333;
}
.topnav .icon {
    display: none;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    color: whitesmoke;
    padding: 15px 0;
}
article {
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    padding: 20px 0;
}
p {
    line-height: 150%;
}

/* mobile menu  */
@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }
    .topnav .icon {
        display: block;
        font-size: 1em;
    }
    .responsive {
        position: relative;
        padding: 60px 0 40px 0;
        flex-direction: column;
        align-items: center;
    }
    .responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .responsive a {
        display: block;
        font-size: 1.2em;
    }
    .logo {
        z-index: 1;
    }
} 